{
  "singleQuote": true,
  "trailingComma": "all",
  "bracketSpacing": false,
  "bracketSameLine": true,
  "overrides": [
    {
      "files": "*.md",
      "options": {
        "bracketSpacing": true
      }
    }
  ]
}
