aliases:
  - &save-cache-yarn
    key: yarn-packages-{{ checksum "yarn.lock" }}
    paths:
      - ~/.cache/yarn
  - &restore-cache-yarn
    name: Restore Yarn Package Cache
    keys:
      - yarn-packages-{{ checksum "yarn.lock" }}
  - &save-cache-detox
    key: detox-{{ checksum "yarn.lock" }}
    paths:
      - node_modules
      - ios/build
  - &restore-cache-detox
    name: Restore Yarn Package Cache
    keys:
      - detox-{{ checksum "yarn.lock" }}
  - &attach_workspace
    attach_workspace:
      at: ~/react-native-url-polyfill

defaults: &defaults
  working_directory: ~/react-native-url-polyfill
  docker:
    - image: circleci/node:12

ios: &ios
  working_directory: ~/react-native-url-polyfill/detox
  macos:
    xcode: 11

version: 2
jobs:
  checkout:
    <<: *defaults
    steps:
      - checkout
      - restore_cache: *restore-cache-yarn
      - run:
          name: Yarn version
          command: yarn -v
      - run:
          name: Yarn Install
          command: |
            yarn install --frozen-lockfile --no-progress --non-interactive --cache-folder ~/.cache/yarn
      - save_cache: *save-cache-yarn
      - persist_to_workspace:
          root: .
          paths: .
  lint:
    <<: *defaults
    steps:
      - *attach_workspace
      - run:
          name: Lint
          command: yarn lint
  test-js:
    <<: *defaults
    steps:
      - *attach_workspace
      - run:
          name: Run Jest
          command: yarn test
  test-ios:
    <<: *ios
    steps:
      - *attach_workspace
      - restore_cache: *restore-cache-detox
      - run:
          name: Yarn version
          command: yarn -v
      - run:
          name: Yarn Install
          command: |
            yarn install --skip-integrity-check --frozen-lockfile --no-progress --non-interactive --cache-folder ~/.cache/yarn
      - run:
          name: Install Detox
          command: |
            brew update
            brew tap wix/brew
            brew install applesimutils
            yarn global add detox-cli
      - run:
          name: Run Detox on iOS
          command: yarn e2e:ios
      - save_cache: *save-cache-detox

workflows:
  version: 2
  tests:
    jobs:
      - checkout
      - lint:
          requires:
            - checkout
      - test-js:
          requires:
            - checkout
      - test-ios:
          requires:
            - checkout
